<div class="followers">
  <a href="<%= followers_user_path(user) %>">
    <span id="followers_<%= user.username %>" class="user_relationship">
      <%= pluralize(user.followers.count, t(:_follower)) %>
    </span>
  </a>

  <br />
  
  <% if user.followers.count > 0 %>
    <% user.followers.last(5).each do |user| %>
      <%= link_to gravatar_for(user, :size => 30), user %>
    <% end %>
  <% end %>
</div>
