.left
{
  float: left;
}
.right
{
  float: right;
}
.clear
{
  clear: both;
}

$margin: 5px;
.margin-top
{
  margin-top: $margin;
}
.margin-right
{
  margin-right: $margin;
}
.margin-bottom
{
  margin-bottom: $margin;
}
.margin-left
{
  margin-left: $margin;
}

.menu
{
  background-color: white;
  padding: 5px 15px;
  
  span
  {
    padding: 5px;
    font-weight: bold;
  }
}

/* BUTTONS */
.base_button
{
  font-size: 1.25em;
  
  a
  {
    color: #ccc;
    text-decoration: none;
  }
  
  a:hover
  {
    color: #666;
  }
}

.edit_button
{
  @extend .base_button;
  font-family: Wingdings;
}

.delete_button
{
  @extend .base_button;
  margin-top: -7px;
}
/* BUTTONS */