.left
{
  float: left;
}
.right
{
  float: right;
}
.clear
{
  clear: both;
}

$margin: 5px;
.margin-top
{
  margin-top: $margin;
}
.margin-right
{
  margin-right: $margin;
}
.margin-bottom
{
  margin-bottom: $margin;
}
.margin-left
{
  margin-left: $margin;
}

.menu
{
  background-color: white;
  padding: 5px 15px;
  
  span
  {
    padding: 5px;
    font-weight: bold;
  }
}

/* BUTTONS */
.base_button
{
  font-size: 1.25em;
  cursor: pointer;
  color: #ccc;
  
  a, span, div
  {
    color: #ccc;
  }
  
  a:hover, span:hover, div:hover
  {
    color: #666;
  }
}
.base_button:hover
{
  color: #666;
}

.edit_button
{
  @extend .base_button;
  margin-top: -5px;
}

.delete_button
{
  @extend .base_button;
  margin-top: -7px;
}

.add_button
{
  @extend .base_button;
  margin-top: -7px;
}

.expand_collapse_button
{
  background-repeat: no-repeat;
  background-position: 0 5px;
  float: right;
  height: 7px;
  width: 8px;
  padding-top: 5px;
}

.expand_button
{
  @extend .expand_collapse_button;
  background-image: url(/images/expand.png);
}

.collapse_button
{
  @extend .expand_collapse_button;
  background-image: url(/images/collapse.png);
}
/* BUTTONS */