.flash
{
  padding: 2px;
  margin-bottom: 10px;
  position: relative;
}

$light_green: #cfc;
$light_yellow: #ffc;
$dark_red: #c00;

.error
{
  color: white;
  background: red;
}

.warning
{
  background: $light_yellow;
}

.notice
{
  background: $light_green;
}

/* CLIENT FLASH */
.close_client_flash
{
  color: white;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4px;
}
/* CLIENT FLASH */

/* ERRORS */
.field_with_errors
{
  margin: 5px 0px;
  padding: 2px;
  background: red;
  display: table;
  
  label
  {
    color: #fff;
  }
}

#error_explanation
{
  border: 2px solid red;
  margin-bottom: 8px;
  padding: 7px 7px 12px 7px;
  background: $light_yellow;
  
  h2
  {
    text-align: left;
    font-weight: bold;
    margin: -7px -7px 7px -7px;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    color: white;
    background: $dark_red;
  }
  
  ul
  {
    margin: 0px;
    padding-left: 20px;
  
    li
    {
      font-size: 12px;
      list-style: square;
    }
  }
}
/* ERRORS */