.post_item
{
  border-top: 1px solid #ccc;
  margin-right: 15px;
  
  .collapsed_post
  {
    padding-top: 5px;
    margin-bottom: 5px;
    
    $avatar_width: 30px;
    img.gravatar
    {
      float: left;
      width: avatar_width;
    }
    
    .post
    {
      margin-left: $avatar_width + 5;
      margin-right: 10px;
      word-wrap: break-word;
    }
  }
  
  .expanded_post
  {
    padding-top: 5px;
    margin-bottom: 10px;
    
    $avatar_width: 50px;
    img.gravatar
    {
      float: left;
      width: $avatar_width;
    }

    .buttons
    {
      float: right;
    }
    
    .post
    {
      $post_margin: $avatar_width + 5;
      margin-left: $post_margin;

      .timestamp
      {
        color: #666;
      }
      
      .title_and_tags
      {
        margin-top: 4px;
        
        .title
        {
          font-weight: bold;
          float: left;
          margin-top: 4px;
        }
        
        .tags
        {
          float: right;
          margin: 1px -2px -3px 0px;
        }
        
        .add_tags
        {
          float: right;
          margin: 3px 0px 1px 4px;
          overflow: hidden;
          
          input
          {
            width: 75px;
            height: 15px;
            margin-right: 4px;
            display: none;
          }
          
          .add_button
          {
            margin-top: -5px;
            margin-bottom: -2px;
          }
        }
      }
      
      .content
      {
        margin-left: -$post_margin;
        margin-top: 5px;
        word-wrap: break-word;
        
        img
        {
          max-width: 100%;
        }
        
        .video
        {
          position: relative;
          
          $play_video_size: 77px;
          .play_video
          {
            background: url(/images/play-video.png) no-repeat;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -$play_video_size / 2;
            margin-top: -$play_video_size / 2;
            width: $play_video_size;
            height: $play_video_size;
            opacity: 0.75;
          }
        }
      }
    }
  }
}

.new_post
{
  margin-right: 10px;
  margin-bottom: 5px;
  
  .title, .tags
  {
    float: left;
    width: 50%;
    margin-bottom: 3px;
    
    input
    {
      margin: 0px;
      width: 221px;
    }
    
    .input_expanded
    {
      width: 321px;
    }
  }
  
  .content
  {
    textarea
    {
      width: 448px;
      height: 4em;
      font-family: Segoe UI;
    }
    
    .textarea_expanded
    {
      width: 649px;
    }
  }
  
  .actions
  {
    input
    {
      margin: -2px -1px;
      min-width: 52px;
    }
  }
}

#toggle_all_posts
{
  float: right;
  margin: -25px 15px 6px 0px;
  cursor: pointer;
}

.user_profile #toggle_all_posts
{
  margin-top: 0px;
}
