.post_item
{
  border-top: 1px solid #ccc;
  margin-right: 15px;
  margin-bottom: 10px;
  padding-top: 5px;
  
  $avatar_width: 50px;
  img.gravatar
  {
    float: left;
    width: $avatar_width;
  }

  .buttons
  {
    float: right;
  }
  
  .post
  {
    $post_margin: $avatar_width + 5;
    margin-left: $post_margin;
    word-wrap: break-word;
    
    .timestamp
    {
      color: #666;
    }
    
    .title_and_tags
    {
      margin-top: 4px;
      
      .title
      {
        font-weight: bold;
        float: left;
        margin-top: 4px;
      }
      
      .tags
      {
        float: right;
        margin: 1px -2px -3px 0px;
      }
      
      .add_tags
      {
        float: right;
        margin: 3px 0px 1px 4px;
        
        .tag_list
        {
          $tag_list_text_box_width: 75px;
          input
          {
            width: $tag_list_text_box_width;
            height: 15px;
            margin-right: 4px;
            display: none;
          }
          
          #autocomplete_tags
          {
            top: 21px;
            width: $tag_list_text_box_width + 2;
            
            .tag
            {
              width: 90%;
            }
          }
        }
        
        .add_button
        {
          margin-top: -5px;
          margin-bottom: -2px;
        }
      }
    }
    
    .content
    {
      margin-left: -$post_margin;
      margin-top: 5px;
      
      img
      {
        max-width: 100%;
      }
      
      .video
      {
        position: relative;
        max-width: 480px;
        
        $play_video_size: 77px;
        .play_video
        {
          background: url(/images/play-video.png) no-repeat;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -$play_video_size / 2;
          margin-top: -$play_video_size / 2;
          width: $play_video_size;
          height: $play_video_size;
          opacity: 0.75;
        }
      }
    }
  }
}

.new_post
{
  margin-right: 10px;
}

.edit_post
{
  margin-right: -5px;
}

.new_post, .edit_post
{
  margin-bottom: 5px;
  
  .title, .tags
  {
    float: left;
    width: 50%;
    margin-bottom: 3px;
    
    input
    {
      margin: 0px;
      width: 237px;
    }
    
    .input_expanded
    {
      width: 336px;
    }
  }
  
  .tag_list #autocomplete_tags
  {
    top: 23px;
    width: 98%;
    
    .tag
    {
      width: 97%;
    }
  }
  
  .content
  {
    textarea
    {
      width: 480px;
      height: 4em;
      font-family: Segoe UI;
    }
  }
  
  .actions
  {
    input
    {
      margin: -2px -1px;
      min-width: 52px;
    }
  }
}

#toggle_all_posts
{
  float: right;
  margin: -25px 15px 6px 0px;
  cursor: pointer;
}

.user_profile #toggle_all_posts
{
  margin-top: 0px;
}

.tag_list
{
  position: relative;
  
  #autocomplete_tags
  {
    z-index: 1000;
    position: absolute;
    background: white;
    border: 1px solid #aaa;
    margin-right: 4px;
    
    .tag
    {
      color: black;
      cursor: normal;
      background: white;
      margin: 0px;
      font-size: small;
    }
    
    .tag:hover
    {
      color: white;
      background: #3298fe;
    }
  }
}