.tag
{
  float: left;
  background: #e0eaf1;
  padding: 0px 4px;
  margin: 2px;
}

#tag
{
  .tag
  {
    margin: 0px 0px 5px 0px;
  }
}

.stream_tags
{
  .tag
  {
    float: none;
    
      input[type=checkbox]
      {
        margin: 0px;
      }
  }
}

.follow_form
{
  float: left;
  margin-right: 5px;
}

.tag_group
{
  cursor: pointer;
  background: #fbfbfb;
  padding: 0px 4px;
  margin-top: 2px;
}
