$light_gray: #f3f3ff;
$medium_gray: #dfdfef;
$dark_gray: #cfcfdf;

.tag
{
  float: left;
  background: $medium_gray;
  padding: 0px 4px;
  margin: 2px;
  
  .tag_follow_form
  {
    float: left;
    margin-right: 5px;
  }
}

.foreign_tag
{
  @extend .tag;
  background: $light_gray;
}

#tag
{
  .tag
  {
    margin: 0px 0px 5px 0px;
  }
}

.user_tags
{
  .tag
  {
    float: none;
    
    input[type=checkbox]
    {
      margin: 0px;
    }
  }
}

.tag_group
{
  cursor: pointer;
  background: $dark_gray;
  padding: 0px 4px;
  margin-top: 2px;
}

#my_tags .tag
{
  margin: 2px 0px;
}

#other_tags .tag
{
  margin: 2px 0px;
  background: $light_gray;
}
