.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.small-margin-top {
  margin-top: 2px; }

.small-margin-right {
  margin-right: 2px; }

.small-margin-bottom {
  margin-bottom: 2px; }

.small-margin-left {
  margin-left: 2px; }

.margin-top {
  margin-top: 5px; }

.margin-right {
  margin-right: 5px; }

.margin-bottom {
  margin-bottom: 5px; }

.margin-left {
  margin-left: 5px; }

.menu {
  background-color: white;
  padding: 5px 15px; }
  .menu span {
    padding: 5px;
    font-weight: bold; }

.group, .tag_group {
  cursor: pointer;
  background: #fbfbfb;
  padding: 2px 4px;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3; }

.tag_group {
  margin-top: 3px; }

/* BUTTONS */
.base_button, .edit_button, .delete_button, .add_button {
  font-size: 1.25em;
  cursor: pointer;
  color: #ccc; }
  .base_button a, .edit_button a, .delete_button a, .add_button a, .base_button span, .edit_button span, .delete_button span, .add_button span, .base_button div, .edit_button div, .delete_button div, .add_button div {
    color: #ccc; }
  .base_button a:hover, .edit_button a:hover, .delete_button a:hover, .add_button a:hover, .base_button span:hover, .edit_button span:hover, .delete_button span:hover, .add_button span:hover, .base_button div:hover, .edit_button div:hover, .delete_button div:hover, .add_button div:hover {
    color: #666; }

.base_button:hover, .edit_button:hover, .delete_button:hover, .add_button:hover {
  color: #666; }

.edit_button {
  margin-top: -5px; }

.delete_button {
  margin-top: -7px; }

.add_button {
  margin-top: -7px;
  margin-right: -2px; }

.expand_collapse_button, .expand_button, .collapse_button {
  background-repeat: no-repeat;
  background-position: 1px 7px;
  height: 13px;
  width: 10px;
  padding-top: 7px;
  cursor: pointer; }

.expand_button {
  background-image: url(/images/expand.png); }

.collapse_button {
  background-image: url(/images/collapse.png); }

/* BUTTONS */
