.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.margin-top {
  margin-top: 5px; }

.margin-right {
  margin-right: 5px; }

.margin-bottom {
  margin-bottom: 5px; }

.margin-left {
  margin-left: 5px; }

.menu {
  background-color: white;
  padding: 5px 15px; }
  .menu span {
    padding: 5px;
    font-weight: bold; }

/* BUTTONS */
.base_button, .show_post_button, .edit_button, .delete_button {
  font-size: 1.25em; }
  .base_button a, .show_post_button a, .edit_button a, .delete_button a {
    color: #ccc;
    text-decoration: none; }
  .base_button a:hover, .show_post_button a:hover, .edit_button a:hover, .delete_button a:hover {
    color: #666; }

.show_post_button {
  margin-top: -7px;
  font-family: Segoe UI Symbol; }

.edit_button {
  margin-top: -5px; }

.delete_button {
  margin-top: -7px; }

.expand_collapse_button, .expand_button, .collapse_button {
  background-repeat: no-repeat;
  background-position: 0 5px;
  float: right;
  height: 7px;
  width: 8px;
  padding-top: 5px; }

.expand_button {
  background-image: url(/images/expand.png); }

.collapse_button {
  background-image: url(/images/collapse.png); }

/* BUTTONS */
