/*html
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}*/
body {
  background: #eee;
  font-family: Segoe UI; }

header img {
  padding: 10px;
  background: #fff; }
header .menu {
  float: right; }

#container {
  width: 740px;
  margin: 0px auto; }

#section {
  margin-top: 5px;
  padding: 20px;
  background: #fff; }

footer {
  text-align: center;
  margin-top: 10px; }

a {
  color: #09c;
  text-decoration: none; }

a:hover {
  color: #069; }

img {
  border: 0px; }

p {
  margin: -1px 0px; }

h1 {
  margin: 0px 0px 5px 0px; }
