.posts .post_item {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin-right: 15px;
  margin-bottom: 10px; }
.posts img.gravatar {
  float: left;
  width: 50px; }
.posts .buttons {
  float: right; }
.posts .post {
  margin-left: 55px;
  margin-right: 15px; }
  .posts .post .timestamp {
    color: #666; }
  .posts .post .title {
    font-weight: bold; }

form.new_post {
  margin-bottom: 5px; }
  form.new_post .field, form.new_post .actions {
    margin-bottom: 0px; }
  form.new_post textarea {
    height: 4em; }
