.tag, .foreign_tag {
  float: left;
  background: #dfdfef;
  padding: 0px 4px;
  margin: 2px; }
  .tag .tag_follow_form, .foreign_tag .tag_follow_form {
    float: left;
    margin-right: 5px; }

.foreign_tag {
  background: #f3f3ff; }

#tag .tag, #tag .foreign_tag {
  margin: 0px 0px 5px 0px; }

.user_tags .tag, .user_tags .foreign_tag {
  float: none; }
  .user_tags .tag input[type=checkbox], .user_tags .foreign_tag input[type=checkbox] {
    margin: 0px; }

#my_tags .tag, #my_tags .foreign_tag {
  margin: 2px 0px; }

#other_tags .tag, #other_tags .foreign_tag {
  margin: 2px 0px;
  background: #f3f3ff; }
