.user_name {
  color: #999; }

.user {
  margin-bottom: 10px;
  padding-top: 5px;
  border-top: 1px solid #e3e3e3; }
  .user .avatar {
    float: left;
    margin-right: 5px; }
  .user .buttons {
    float: right; }

.edit_user .user_data {
  float: left; }

.index_users .search input[type=text] {
  margin: 5px 0px;
  width: 196px; }
