<%= javascript_include_tag "toggle_profile" %>
<%= link_to "", settings_user_path(current_user, :toggle_user_profile => true), :method => :post, :id => "toggle_profile", :class => (current_user.settings.hide_user_profile == "true" ? "expand" : "collapse") + "_button right", :remote => true %>
<div class="clear"></div>
