<%= javascript_include_tag "toggle_profile" %>
<% if signed_in? %>
<%= link_to "", settings_user_path(current_user, :hide_user_profile => (current_user.settings.hide_user_profile == "true" ? "false" : "true")), :method => :post, :id => "toggle_profile", :class => (current_user.settings.hide_user_profile == "true" ? "expand" : "collapse") + "_button right", :remote => true %>
<% else %>
<div id="toggle_profile" class="collapse_button right"></div>
<% end %>
