<div class="user">
  <div class="buttons">
    <% if signed_in? && current_user.admin? && current_user != user %>
      <div class="delete_button">
        <%= link_to "×", user, :method => :delete, :confirm => t(:confirm_delete_message), :title => "#{t(:delete)} #{user.username}?" %>
      </div>
    <% end %>
  </div>
  
  <%= render "users/info", :user => user %>
  
  <div class="clear"></div>
</div>
