<div class="edit_user">
  <div class="info_bar">
    <a href="http://gravatar.com/emails" target="_blank"><%= gravatar_for @user %></a>
  </div>

  <div class="user_data">
    <%= form_for(@user) do |f| %>
      <%= render 'users/fields', :f => f %>
      
      <div class="actions">
        <%= f.submit t(:update_verb) %>
      </div>
    <% end %>
  </div>
  
  <div class="clear" />
</div>
