<div class="user">
  <a class="avatar" href="https://gravatar.com/emails" target="_blank"><%= gravatar_for @user %></a>

  <div class="left">
    <%= form_for(@user) do |f| %>
      <%= render 'users/fields', :f => f %>
      
      <div class="actions">
        <%= f.submit t(:update_verb) %>
      </div>
    <% end %>
  </div>
  
  <div class="clear" />
</div>
