<%= render "users/user", :user => @user %>

<div class="main_bar <%= "main_bar" if signed_in? && current_user.settings.hide_user_profile == "true" %>">
  <div id="stream" class="user_profile">
    <%= render "posts/stream", :stream => @posts, :path => user_path(@user) %>
  </div>
</div>

<div class="clear"></div>
