<% if object.errors.any? %>
  <div id="error_explanation">    
    <h2>
      <%= t(:operation_failed_message) %>
      <%= pluralize(object.errors.count, t(:_error)) %>:
    </h2>
    
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
