<div>
  <div class="main_bar">
    <%= render "posts/fields" %>
    <div id="stream">
      <%= render "posts/stream", :stream => stream, :path => root_path %>
    </div>
  </div>
  
  <div class="info_bar">
    <%= render "users/info", :user => current_user %>
    <div class="stream_tags">
      <%= render :partial => "tags/tag", :collection => current_user.tags_from_stream, :locals => { :show_checkboxes => true } %>
    </div>
  </div>
  
  <div class="clear"></div>
</div>
