<div id="tag">
  <%= render 'tags/tag', :tag => @tag %>
</div>

<div class="posts">
  <!-- TODO: Maybe remove the ability of the user to delete posts, and only enable them to untag posts -->
  <%= render :partial => 'posts/post', :collection => @tag.posts %>
</div>