<% unless @tag.nil? %>
<div id="stream" class="main_bar_expanded">
  <div id="tag">
    <%= render "tags/tag", :tag => @tag, :show_untag_all => true %>
    <div class="clear"></div>
  </div>
  
  <div class="posts">
    <%= render "posts/stream", :stream => @tag_posts, :path => tag_path(@tag) %>
  </div>
</div>
<% end %>
