<div id="tag">
  <%= render 'tags/tag', :tag => @tag, :show_untag_all => true, :show_untag => false, :post_id => nil %>
</div>

<div class="posts">
  <%= render :partial => 'posts/post', :collection => @tag.posts %>
</div>
