<div class="tag_form">
  <% if post_tag.user_id == current_user.id %>
    <%= render "post_tags/untag", :post_tag => post_tag %>
  <% else %>
    <%= render "post_tags/tag", :post => post_tag.post, :tag => post_tag.tag %>
  <% end %>
</div>
