<div class="collapsed_post">
  <%= link_to "", settings_user_path(current_user, :collapse_post => "false", :post_id => post.id), :method => :post, :class => "expand_button right margin-left", :remote => true %>
  
  <%= link_to gravatar_for(post.user, :size => 50), post.user %>
  
  <div class="post">
    <%= format_post(post.content, true) %>
  </div>
  
  <div class="clear"></div>
</div>
