<% if stream.length > 0 %>
  <div id="stream" class="posts">
    <%= render :partial => 'posts/post', :collection => stream %>
  </div> 
  
  <%= javascript_include_tag "jquery.pageless.min" %>
  <%= pageless(stream.total_pages, root_path, 'stream') %>
<% end %>
