<% unless stream.empty? %>
<%= javascript_include_tag "stream" %>

<div id="filtered_stream" class="posts">
  <%= render :partial => "posts/post", :collection => stream %>
  <%= javascript_include_tag "jquery.pageless.min" %>
  <%= pageless(stream.total_pages, path, "filtered_stream") %>
</div> 
<% end %>
