<%= javascript_include_tag "stream" %>
<% unless stream.empty? %>
  <div class="posts">
    <%= render :partial => "posts/post", :collection => stream %>
  </div> 
  
  <%= javascript_include_tag "jquery.pageless.min" %>
  <%= pageless(stream.total_pages, path, "stream") %>
<% end %>
