<%= form_for current_user.user_tags.build(:tag_id => tag.id), :remote => true do |f| %>
  <div><%= f.hidden_field :tag_id %></div>
  <%= check_box_tag "follow_tag_#{tag.id}", tag.id, current_user.followed_tag?(tag), :onclick => "$(this).parent('form').submit();" %>
<% end %>
