<footer class="hidden">
  <div class="menu">
    <span><%= link_to t(:about), about_path %></span>
    <span><%= link_to t(:contact), contact_path %></span>
    <span><%= link_to t(:news), news_path %></span>
  </div>
</footer>